
<!DOCTYPE html>
<html>
<head>
    <title>Medical Assistant</title>
</head>
<body>
    <h1>Patient Information</h1>
    <form action="{{ url_for('index') }}" method="post">
        <label for="age">Age:</label><br>
        <input type="text" id="age" name="age"><br><br>
        
        <label for="gender">Gender:</label><br>
        <input type="text" id="gender" name="gender"><br><br>
        
        <label for="symptom1">Primary Symptom:</label><br>
        <input type="text" id="symptom1" name="symptom1"><br><br>
        
        <label for="symptom2">Additional Symptom:</label><br>
        <input type="text" id="symptom2" name="symptom2"><br><br>
        
        <label for="smoke_drink">Smoking/Drinking Status:</label><br>
        <input type="text" id="smoke_drink" name="smoke_drink"><br><br>
        
        <input type="submit" value="Submit">
    </form>
</body>
</html>
